.error {
    color: red;
    border: red;
}

.noerror {
    color: green;
    border: green;
}

.message {
    font-size: 1.3em; 
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 300px;
}

.menu {
    width: 500px;
}

p {
    color: maroon;
}